body {
  margin     : 0;
  font-family: Arial, sans-serif;
}

.hero {
  height             : 100vh;
  background-image   : url("/images/bg.png");
  /* your image */
  background-size    : cover;
  background-position: center;
  display            : flex;
  align-items        : center;
  justify-content    : center;
}

.hero h1 {
  color    : white;
  font-size: 3rem;
}